<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar (keyup)="getEnter($event)" [(ngModel)]="busqueda"></ion-searchbar>
    <ion-row *ngIf="gifs">
    <ion-col  sizeMd="4" sizeLg="4" sizeXl="3" *ngFor="let i of gifs.data">
      <ion-card>
        <ion-card-header>
          <ion-card-title text-center>{{i.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="i.images.fixed_width.url"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </div>
</ion-content>
